<section class="container cover">
  <h3 class="title">
    Evita estafas y descubre empresas transparentes con confianza.
  </h3>
  <p class="subtitle">
    Nuestra herramienta te ayuda a identificar riesgos y promueve la
    transparencia y buenas practicas en los negocios.
  </p>

  <button class="button-cto">Descubre más</button>
</section>

<section class="container">
  <div>
    Cada año, miles de personas y empresas caen en fraudes debido a la falta de
    información confiable. ¿Cómo puedes protegerte?
  </div>
  <ul>
    <li>El 40% de los consumidores desconfía de las transacciones en línea.</li>
    <li>Las estafas digitales generan pérdidas de $X mil millones al año.</li>
  </ul>
</section>

<section class="container">
  <p>
    Nuestra plataforma evalúa la transparencia de las empresas y detecta señales
    de alerta en tiempo real, ayudándote a tomar decisiones seguras.
  </p>
  <span> Características clave: </span>
  <ul>
    <li>Verificación de empresas.</li>
    <li>Alertas sobre posibles estafas.</li>
    <li>Recursos educativos sobre ciberseguridad.</li>
  </ul>
</section>
